@font-face {
  font-family: Calculador;
  src: url("../src/font/Calculator.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App{
  background:#abacb0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.tela{
  border: solid 2px black;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  height: 50px;
  width: 250px;
  font-size: 33px;
  font-family: Calculador;
  box-shadow: inset 0 0 20px gray;
  background: #a49b95;
}
.tela.show{
  z-index: 100;
}
.teclado{
  align-content: flex-start;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  height: 290px;
  width: 250px;
}
.quadro{
  border-radius: 34px;
  border: solid 3px rgb(70, 70, 70);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 250px;
  height: 410px;
  background:#abacb0;
}
.quadro img{
  width: 200px;
}
.tecla{
  font-weight: 900;
  background: #dfe6f6;
  width: 40px;
  height: 40px;
  border-radius: 7px;
  border: solid 2px rgb(95, 95, 97);
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.tecla:hover{
  cursor: pointer;
  background: #abacb0;
}
.modal-moeda, .modal-seta, .modal-erro{
  transition: all 5s ease-in-out;
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.596);
  display: none;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.modal-moeda.show, .modal-seta.show, .modal-erro.show{
  transition: all 5s ease-in-out;
  display: flex;
}
.modal-moeda .alerta, .modal-seta .alerta, .modal-erro .alerta{
  transition: all 0.2s ease-in-out;
  animation: popup 0.7s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 340px;
  background: white;
  box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.438);
  border-radius: 20px;
}
.modal-moeda .alerta img, .modal-seta .alerta img, .modal-erro .alerta img{
  width: 190px;
}
.modal-moeda .alerta p, .modal-seta .alerta p, .modal-erro .alerta p{
  margin: 20px;
  text-align: justify;
}
.modal-moeda button, .modal-seta button{
  transition: all 0.2s ease-in-out;
  font-size: 20px;
  margin: 10px;
  color: white;
  border: none;
  outline: none;
  width: 60px;
  height: 55px;
  border-radius: 9px;
  background: rgb(161, 161, 19);
} 
.modal-erro button{
  transition: all 0.2s ease-in-out;
  font-size: 20px;
  margin: 10px;
  color: white;
  border: none;
  outline: none;
  width: 60px;
  height: 55px;
  border-radius: 9px;
  background: rgb(161, 19, 19);  
}
.modal-moeda button:hover, .modal-seta button:hover{
  cursor: pointer;
  border: 2px solid rgb(161, 161, 19);
  color: rgb(161, 161, 19);
  background: white;
}
.modal-erro button:hover{
  cursor: pointer;
  border: 2px solid rgb(161, 19, 19);
  color: rgb(161, 19, 19);
  background: white;  
}
.abastecer{
  transition: all 0.2s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgb(10, 119, 10);
  display: flex;
  align-items: center;
  justify-content: center;
}
.abastecer.show{
  animation: crescer 2s;
}
.abastecer img{
  width: 90px;
}
.abastecer img:hover{
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgb(10, 119, 10);
  background: white;
}
.pergunta{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background: black;
  color: white;
  position: absolute;
  top: 0;
}
@keyframes popup {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.4);
  }
  60%{
    transform: scale(1.1);
  }
  70%{
    transform: scale(1.2);
  }
  80%{
    transform: scale(1);
  }
  90%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes crescer {
  to{
    scale: 1;
  }
  from{
    scale: 10;
    border-radius: 0;
  }
}