@font-face {
  font-family: Calculador;
  src: url("../src/font/Calculator.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App{
  background: black;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.tela{
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  height: 50px;
  width: 250px;
  font-size: 33px;
  font-family: Calculador;
  box-shadow: inset 0 0 20px gray;
  background: #a49b95;
}
.teclado{
  display: flex;
  flex-wrap: wrap;
  background:white;
  height: 450px;
  width: 250px;
}
.tecla{
  border-radius: 7px;
  border: solid 2px rgb(73, 73, 133);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
